.mainSection {
    margin-top: 40px;
    padding-top: 160px;
    min-height: 700px;
    max-height: 800px;

    .form {
        position: relative;
        z-index: 3;
    }

    .video-container{
        position: relative;
        height: 100vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
    video {  
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }

    .mainTitle {
        font-weight: bold;
        font-size: 120px;
        line-height: 130px;
        border: 1px solid $white-color;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

    .underTitle {
        padding-bottom: 40px;
    }

    .mainSectionBG {
         background: $black-color;
         background-repeat: no-repeat;
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         opacity: 0.4;
         z-index: 0;
     }
}