/* Custom styles */

.form {
	max-width: 458px;
	margin: auto;
	
	input {
		margin: 10px;
		padding: 15px 40px!important;
	}
}

.formTitle {
	margin-bottom: 20px;
}

.btn {
	text-transform: uppercase;
	padding: 15px 40px!important;
}

.customIcon {
	width: 82px;
	height: 82px;
}

/* Custom styles */