*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.title {
	font-weight: bold;
	font-size: $font-title;
	line-height: $line-height-title;
}

.underTitle {
	font-size: $font-title;
	line-height: $line-height-title;	
}

.section {
	position: relative;
	padding: $section-padding-top-bottom 0;
}

.text {
	opacity: 0.6;
    font-size: $font-text;
    line-height: $line-height-text;
}

/* Custom styles */

.form {
	max-width: 458px;
	margin: auto;
	
	input {
		margin: 10px;
	}
}

.btn {
	text-transform: uppercase;
}

/* Custom styles */