/* Title */
$font-title: 36px;
$line-height-title: 36px;
/* Title */

/* Colors */
$main-color: #d11e46;
$black-color: #000;
$white-color: #FFF;
/* Colors */

/* Section */
$section-padding-top-bottom: 40px;
/* Section */

/* Text */
$font-text: 14px;
$line-height-text: 22px;
/* Text */
