/* Title */
$font-title: 36px;
$line-height-title: 36px;
/* Title */

/* Colors */
$main-color: #d11e46;
/* Colors */

$section-padding-top-bottom: 20px;

/* Text */
$font-text: 14px;
$line-height-text: 22px;
/* Text */
