section.features.section
    .container.text-center
        .title Основні переваги
        .row
            .col-4
                img(src='')
                .title Комфортне пересування
                .text Наші автобуси класу Люкс із комфортними сидіннями, кондиціонером та TV
            .col-4
                img(src='')
                .title Найкращі ціни
                .text Наші автобуси класу Люкс із комфортними сидіннями, кондиціонером та TV
            .col-4
                img(src='')
                .title Комфортне пересування
                .text Наші автобуси класу Люкс із комфортними сидіннями, кондиціонером та TV