section.features.section
    .container.text-center
        .title.pb-40 Основні переваги
        .row
            .col-md-4.col-sm-12
                img(src='img/features/bus_icon.webp').customIcon
                .title Комфортне пересування
                .text Наші автобуси класу Люкс із комфортними сидіннями, кондиціонером та TV
            .col-md-4.col-sm-12
                img(src='img/features/price_icon.webp').customIcon
                .title Найкращі ціни
                .text Підібрані найкращі місця за найкращі ціни
            .col-md-4.col-sm-12
                img(src='img/features/comfort_icon.webp').customIcon
                .title Комфортний Відпочинок 
                .text Багато часу на відпочинок. Всі єкскурсії коротки.