footer.footer.section
    .container.text-light.text-center
        .title Забронювати тур прямо зараз за
        .flex.--just-center
            .price ### 
            .currrency USD
        form.form
            .formTitle Вам щастить! Це найнижча ціна, яку можна знайти на комбінований тур Грецькі Канікули 9 днів!
            .form-group
                input(type='text', placeholder='Імя').form-control
            .form-group
                input(type='text', placeholder='Номер').form-control
            .form-group
                input(type='button', value='Перетелефонувати мені').btn.btn-light
            .text Або за номерами
            .flex.--just-space
                a(href='tel:+380504629032').btn.btn-outline-light (050) 462 90 32
                a(href='tel:+30673400115').btn.btn-outline-light (067) 340 01 15