section.mainSection.section
    .container.text-center
        .mainTitle Греція
        .underTitle Країна з історією та культурою. Хочете скуштувати найсмачніші у світі оливки та традиційну грецьку кухню, спробувати мусаку, дзадзики, приготовлені на грилі морепродукти, навчитися танцювати сиртаки, побачити величний Акрополь, доторкнутися до античності, Безумовно, для вас!
        form.form
            .form-group
                input(type='button', value='Перетелефонувати мені').btn.btn-light
    .mainSectionBG