section.mainSection.section
    .mainSectionBG
    .videoContainer
        video.video(autoplay='' muted='' loop='')
            source(src='img/grecee_video.mp4' type='video/mp4')
    .container.text-center
        form.form
            .mainTitle.text-light Греція
            .underTitle.text-light Країна з історією та культурою. Хочете скуштувати найсмачніші у світі оливки та традиційну грецьку кухню, спробувати мусаку, дзадзики, приготовлені на грилі морепродукти, навчитися танцювати сиртаки, побачити величний Акрополь, доторкнутися до античності, Безумовно, для вас!
            .form-group
                input(type='button', value='План подорожі').btn.btn-light   